.movieCard {
  background: #111;
  color: white;
  font-weight: bold;
  text-align: center;
  margin: 0 1.25em 2em 0;
  height: 455px;
  border-radius: 5px;
  overflow: hidden;

  // &:first-child, &:nth-child(5n) {
  //   margin-left: 0;
  // }

  // &:nth-child(4n) {
  //   margin-right: 0;
  // }

  .moviePoster {
    height: 375px;
    overflow: hidden;
    background-image: url(../../poster_placeholder.png);
    background-size: cover;
    background-position: center top;
    position: relative;

    .movieRateAndYear {
      background: rgba(255,0,0,0.75);
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      height: 40px;
      line-height: 40px;
      font-weight: 300;
      display: flex;
      justify-content: space-between;
      padding: 0 1rem;
    }

    .movieOverview {
      background: rgba(0,0,0,0.85);
      position: absolute;
      top: 40px;
      right: 0;
      bottom: 0;
      left: 0;
      font-weight: 300;
      display: flex;
      justify-content: center;
      opacity: 0;
      transition: opacity ease-in-out 1s;

      p {
        align-self: center;
        text-align: left;
        padding: 0 1rem;
        font-size: 0.9em;
      }
    }

    &:hover {
      .movieOverview {
        opacity: 1;
      }
    }
  }

  .movieInfo {
    display: flex;
    justify-content: center;
    height: 80px;
    p {
      font-size: 1rem;
      font-weight: 300;
      padding: 0 0.5rem;
      margin-bottom: 0;
      justify-self: center;
      align-self: center;
    }
  }

  // whatever the breakpoints are that scaffold has set.
  @media screen and (max-width: 639px) {
    width: 80%;
    margin-right: 10%;
    margin-left: 10% !important;
  }
  
  @media screen and (min-width: 640px) and (max-width: 991px) {
    width: calc(50% - 1em);

    &:first-child, &:nth-child(3n) {
      margin-left: 0;
    }
  
    &:nth-child(2n) {
      margin-right: 0;
    }
  }

  @media screen and (min-width: 992px) {
    width: calc(25% - 1em);

    &:first-child, &:nth-child(5n) {
      margin-left: 0;
    }
  
    &:nth-child(4n) {
      margin-right: 0;
    }
  }

}

