.moviesSection {
  margin-bottom: 2rem;
  padding-bottom: 2rem;

  &_title {
    margin-bottom: 1rem;
  }

  &_btn {
    background-color: red !important;
    border-color: red !important;
    position: absolute;
    right: 15px;
    top: 3px;
    
    &:hover, &:focus, &:active {
      background-color: red;
    }
  }

  &_list {
    padding: 0;
    margin: 0;
    margin: 0 auto 1em;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    list-style: none;

    &:after {
      content: '';
      flex: auto;
    }
  }
  
  hr {
    background-color: red;
  }

  .listBottom {
    width: 100%;
    height: 50px;
  }

  .spinner {
    text-align: center;
    
    .spinnerIcon {
      background-image: url(../../ajax-loader3.gif);
      width: 42px;
      height: 42px;
      display: inline-block;
    }
  }
}