@import '../../variables.scss';

.movieForm {  
  margin-bottom: 4rem;
  
  .invalid-feedback {
    display: block !important;
  }

  button {
    background-color: $primary-color !important;
    border-color: $primary-color !important;
  }
}