@import '../../variables.scss';

.header {
  position: relative;
  height: 70vh;
  margin-bottom: 3rem;
  
  div {
    height: 100%;
  }

  &:before {
    content: '';
    text-align: center;
    background-color: $bkg-color;
    background-image: url(../../app-banner.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center top;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }
  
  &_appTitle {
    font-family: Changa, sans-serif;
    position: relative;
    top: 90%;
    font-size: 3rem;
    margin-bottom: 0;

    a {
      color: #fff !important;
      text-decoration: none !important;
    }
    
    
    @media screen and (max-width: 400px) {
      font-size: 2.5rem;
    }

    span {
      color: #fff;
      background-color: $primary-color;
      padding: 0.2rem 1rem;
      border-radius: 10px;
      display: inline-block;
      line-height: 3rem;
    }
  }
}
